<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/admin/QuanLyDonHang.css" rel="stylesheet" />
    <title>Quản lý đơn hàng</title>

</head>
<body>
    <h1>Quản lý đơn hàng 6TL De Decor</h1>
    <div class="search-bar-qldh">
        <input type="text" placeholder="Tìm kiếm...">
        <button>Tìm kiếm</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Mã HD</th>
                <th>Ngày tạo</th>
                <th>Tổng tiền</th>
                <th>Tên Khách hàng</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#12313</td>
                <td>01/01/2024</td>
                <td>2,000,000</td>
                <td>Nguyễn Văn A</td>
                <td>Đã giao</td>
                <td class="action-buttons">
                    <a href="#" class="btn-cancel">Hủy đơn</a>
                    <a href="#" class="btn-details">Chi tiết</a>
                </td>
            </tr>
            <tr>
                <td>#12314</td>
                <td>01/01/2024</td>
                <td>2,500,000</td>
                <td>Nguyễn Văn B</td>
                <td>Đang giao</td>
                <td class="action-buttons">
                    <a href="#" class="btn-cancel">Hủy đơn</a>
                    <a href="#" class="btn-details">Chi tiết</a>
                </td>
            </tr>
            <tr>
                <td>#12314</td>
                <td>01/01/2024</td>
                <td>2,500,000</td>
                <td>Nguyễn Văn B</td>
                <td>Đang giao</td>
                <td class="action-buttons">
                    <a href="#" class="btn-cancel">Hủy đơn</a>
                    <a href="#" class="btn-details">Chi tiết</a>
                </td>
            </tr>
            <tr>
                <td>#12314</td>
                <td>01/01/2024</td>
                <td>2,500,000</td>
                <td>Nguyễn Văn B</td>
                <td>Đang giao</td>
                <td class="action-buttons">
                    <a href="#" class="btn-cancel">Hủy đơn</a>
                    <a href="#" class="btn-details">Chi tiết</a>
                </td>
            </tr>
            <tr>
                <td>#12314</td>
                <td>01/01/2024</td>
                <td>2,500,000</td>
                <td>Nguyễn Văn B</td>
                <td>Đang giao</td>
                <td class="action-buttons">
                    <a href="#" class="btn-cancel">Hủy đơn</a>
                    <a href="#" class="btn-details">Chi tiết</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
