@{
    ViewData["Title"] = "Danh Mục Sản Phẩm";
}
<link href="~/css/pages/danhmucsanpham.css" rel="stylesheet" />
<div class="main-container_dmsp">
    <!-- Phần hình ảnh tiêu đề -->
    <div class="banner_dmsp">
        <div class="banner-image_dmsp">
            <img src="~/img/banner-ban-cafe.jpg" alt="Banner Image">
            <div class="banner-title_dmsp">
                <h1>Danh Mục Sản Phẩm</h1>
            </div>
        </div>
    </div>

    <!-- Thay thế đoạn nội dung -->
    <div class="description_dmsp">
        <p>PHÒNG KHÁCH</p>
        <p></p>
        <p>
           " Với những không gian cần sự gần gũi và thân thiện như phòng khách, phong cách Châu Âu sẽ là lựa chọn phù hợp.
            Vốn nổi tiếng nhờ đặc trưng đơn giản và hữu dụng, các thiết kế theo phong cách này, nhất là cho nhà ở đô thị, còn rất quan tâm đến tính linh hoạt và đa năng trong sản phẩm.
            Một phòng khách mang tinh thần Châu Âu luôn cởi mở với ánh sáng tự nhiên, không khí lưu thông, sử dụng màu sắc hài hòa, đường nét tinh tế và đề cao tính thiên nhiên trong vật liệu, hình ảnh.
            Cách bố trí không gian cũng có tiết chế, "dùng ít được nhiều" và không gượng ép theo những tiêu chuẩn cố định."
        </p>
    </div>

    <!-- Phần danh mục sản phẩm -->
    <div class="product-categories_dmsp">
        <div class="category-item_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 1</p>
        </div>
        <div class="category-item_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 2</p>
        </div>
        <div class="category-item_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 3</p>
        </div>
        <div class="category-item_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 4</p>
        </div>
        <div class="category-item_dmsp large_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 5</p>
        </div>
        <div class="category-item_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 6</p>
        </div>
        <div class="category-item_dmsp">
			<div class="category-image_dmsp"><img src="~/img/tintuc.jpg" /></div>
            <p class="category-title_dmsp">Danh mục sản phẩm 7</p>
        </div>
    </div>
</div>