    @{
        ViewData["Title"] = "Giới Thiệu";
    }
    <link href="~/css/pages/gioithieu.css" rel="stylesheet" />
    <body class="gioi-thieu-page">
        <!-- Banner -->
        <section class="banner-gt">
            <img src="~/img/banner-ban-cafe.jpg" alt="Banner" class="banner-image" />
        </section>

        <!-- Navbar -->
    <div class="navbar-container-gt">
        <div class="navbar-gt">
            <ul class="navbar-menu-gt">
                <li><a href="#ve6tl">Về 6TL</a></li>
                <li><a href="#thietke">Thiết Kế</a></li>
                <li><a href="#taisao6tl">Tại Sao Là 6TL</a></li>
            </ul>
        </div>
    </div>
        <!-- Main content -->
        <main class="content-gt">
            <!-- Phần "Về 6TL" -->
            <section id="ve6tl" class="section about">
                <div class="text">
                    <h2>Về 6TL</h2>
                <p>
                    6TL nhấn mạnh tiêu chí "Cảm hứng từ sự trải nghiệm" và đề cao xu hướng tiêu dùng có trách nhiệm với môi trường và xã hội. 
                    Khách hàng đến với 6TL sẽ tìm thấy một tinh thần 
                    Châu Âu chân thực, đồng thời trải nghiệm về các không gian sống phóng khoáng mà đơn giản, tối giản mà hữu dụng.
                    Tất cả các sản phẩm của 6TL đều có bản quyền thiết kế. Sử dụng toàn bộ gỗ rừng trồng và các nguyên vật liệu chọn lọc, đảm bảo thoả mãn các yêu cầu và tiêu chuẩn chất lượng cao của Châu Âu.
                    6TL tuyệt đối tôn trọng tính an toàn cho người dùng, người sản xuất và môi trường. 
                    6TL đầu tư vào một lượng hàng hoá có sẵn phong phú và dồi dào, đảm bảo giao hàng cho khách trong thời gian nhanh nhất.
                    Mỗi sản phẩm nội thất đều được chế tác một cách cẩn thận, hoàn thiện kỹ càng. Đội ngũ tư vấn viên 6TL năng động, nhiệt huyết và giàu kinh nghiệm sẵn sàng tư vấn để khách hàng có thể hình dung rõ nét nhất về không gian sống mà mình mong muốn.
                </p>
                </div>
                <div class="image">
                <img src="~/img/banner-ban-cafe.jpg" alt="Về 6TL" />
                <img src="~/img/banner-ban-cafe.jpg" alt="Về 6TL" />
                   
                </div>
            </section>

            <!-- Phần "Thiết Kế" -->
            <section id="thietke" class="section design">
                <h2>Thiết Kế</h2>
                <div class="images-row">
                <img src="~/img/banner-ban-cafe.jpg" alt="Thiết Kế" />
                </div>
            </section>

            <!-- Phần "Tại Sao Là 6TL" -->
            <section id="taisao6tl" class="section why">
            <h2>Tại Sao Là 6TL</h2>
                <div class="images-row">
                    <img src="~/img/banner-ban-cafe.jpg" alt="Tại Sao Là 6TL" />
                <p>6TL là 6 thủ lĩnh </p>
                </div>
            </section>
        </main>
    </body>