  @model Contact
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="~/css/pages/lienhe.css" rel="stylesheet" />
</head>
<body>
    <!-- Banner Section -->
    <section class="banner_tt">
        <img src="~/img/tintuc4.jpg" alt="Banner Tin Tức" class="banner-image_tt">
        <div class="banner-overlay_tt">
            <h1 class="banner-title_tt">LIÊN HỆ</h1>
        </div>
    </section>

    <div class="contact-container">
        <p>72 Huỳnh Thúc Kháng Phường Bến Nghé Quận 1,Thành Phố Hồ Chí Minh</p>
        <p>Cừa Hàng Nội Thất Số 1 Việt Nam Được Bộ Công Thương Công Nhận</p>
        <p><strong>0933065008</strong></p>
        <p>Để biết thêm thông tin về thời gian nghỉ lễ năm 2024, vui lòng xem thông báo ở cuối trang.</p>
        <hr>
        <h2>Sản Phẩm Có Sẵn...</h2>
        <p>Để kiểm tra tình trạng hàng hóa nội thất, vui lòng truy cập trang <a href="#"> Bộ Sưu Tập Nội Thất </a> của chúng tôi.</p>
        <p>Nếu bạn muốn đặt thiết kế nội thất theo mẫu có sẵn, vui lòng điền vào biểu mẫu dưới đây và đính kèm liên kết đến mẫu thiết kế bạn yêu thích.</p>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <!-- Contact Form -->
        <form class="contact-form" asp-controller="Contact" asp-action="LienHe" method="post">
            <label for="title">Tiêu Đề (Bắt Buộc)</label>
            <input asp-for="Title" type="text" id="title" name="Title" required>

            <label for="first-name">Họ Và Tên (Bắt Buộc)</label>
            <input asp-for="Name" type="text" id="name" name="Name" required>

            <label for="last-name">Số Điện Thoại (Bắt Buộc)</label>
            <input asp-for="Phone" type="text" id="last-name" name="Phone" required title="Số điện thoại phải có đúng 10 chữ số"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);" />

            <label for="email">Email (Bắt Buộc)</label>
            <input asp-for="Email" type="email" id="email" name="Email" required>

            <label for="message">Thông Tin Liên Hệ</label>
            <textarea id="message" name="Message" rows="5"></textarea>

            <button type="submit" class="submit-btn">Gửi</button>
        </form>
    </div>
</body>
</html>

