<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
	<link href="~/css/pages/sanpham.css" rel="stylesheet" />
</head>
<body>

    <!-- Banner Section -->
    <section class="banner">
        <img src="~/img/banner-ban-cafe.jpg " alt="Banner" class="banner-image" />

    </section>

    <main>
        <section class="container">
            <div class="sidebar">
                <h3>Tên danh mục</h3>
                <ul>
                    <li>
                        <span>CATEGORY</span>
                    </li>
                    <li>
                        <span>Danh mục 1</span>
                    </li>
                    <li>
                        <span>Danh mục 2</span>
                    </li>
                    <li>
                        <span>Danh mục 3</span>
                    </li>
                    <li>
                        <span>CHẤT LIỆU</span> +
                    </li>
                    <li>
                        <span>MÀU SẮC</span> +
                    </li>
                    <li>
                        <span>GIÁ</span> +
                    </li>
                </ul>
            </div>
            <div class="content">
                <h2>Nội Thất / Bàn </h2>
                <div class="product-list">
                    <div class="product-item">
                        <img src="" alt="">
                        <h3>Tên sản phẩm</h3>
                        <p>mô tả</p>
                        <span>giá VND</span>
                    </div>
                    <div class="product-item">
                        <img src="" alt="">
                        <h3>Tên sản phẩm</h3>
                        <p>mô tả</p>
                        <span>giá VND</span>
                    </div>
                    <div class="product-item">
                        <img src="" alt="">
                        <h3>Tên sản phẩm</h3>
                        <p>mô tả</p>
                        <span>giá VND</span>
                    </div>
                    <div class="product-item">
                        <img src="" alt="">
                        <h3>Tên sản phẩm</h3>
                        <p>mô tả</p>
                        <span>giá VND</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <!-- Your footer code goes here -->
    </footer>
</body>
</html>
