@model ResetPassword
@{
    ViewData["Title"] = "Thay Đổi Mật Khẩu";
}

<link href="~/css/pages/dangky.css" rel="stylesheet" />
<section class="banner-register">
    <img src="~/img/banner3.jpg" alt="Banner THAY ĐỔI MẬT KHẨU" class="banner-image">
    <div class="banner-overlay">
        <h1 class="banner-title">THAY ĐỔI MẬT KHẨU</h1>
    </div>
</section>

<section class="form-section">
    <form asp-action="ThayDoiMatKhau" method="post" class="register-form">
        <!-- Hiển thị thông báo lỗi -->
        @if (!ViewData.ModelState.IsValid && ViewContext.HttpContext.Request.Method == "POST")
        {
            <div class="alert alert-danger">
                Vui lòng kiểm tra lại thông tin và điền đầy đủ các trường bắt buộc!
            </div>
        }
        <input type="hidden" name="token" value="@Context.Request.Query["token"]" />
        <div class="form-row">
            <div class="form-group">
                <label for="password">Mật khẩu mới <span class="required">*</span></label>
                <input type="password" id="password" name="Password" value="@Model.Password" placeholder="Nhập mật khẩu mới" />
                @Html.ValidationMessageFor(model => model.Password, "", new { style = "color: red; font-size: 0.9em; margin-top: 5px;" })
            </div>
        </div>

        <button class="submit-btn">Đổi mật khẩu</button>
    </form>
</section>
