
<head>

    <link href="~/css/pages/tintuc.css" rel="stylesheet" />
</head>
<body>
    <!-- Banner Section -->
    <section class="banner_tt">
        <img src="~/img/tintuc4.jpg" alt="Banner Tin Tức" class="banner-image_tt">
        <div class="banner-overlay_tt">
            <h1 class="banner-title_tt">TIN TỨC</h1>
        </div>
    </section>

    <!-- Menu Chủ Đề -->
    <nav class="news-menu_tt">
        <ul>
            <li><a href="#">Khuyến Mãi</a></li>
            <li><a href="#">Tin Thị Trường</a></li>
            <li><a href="#">Sự Kiện</a></li>
        </ul>
    </nav>


    <section class="container_tt">
        <h2>Khám phá Blog</h2>
        <div class="news-grid_tt">
            <div class="news-item_tt">
                <img src="~/img/tintuc1.jpg" alt="Tin tức 1">
                <div class="news-content_tt">
                    <h3>Biến hóa phòng ngủ nhỏ thành to chỉ trong chớp mắt với những “mẹo” đơn giản</h3>
                    <p>
                        Phòng ngủ nào cũng vây, dù to hay nhỏ đều phải có giường và chiếc tủ đầu giường.
                        Chiếc tủ để đầu giường thật ra rất tiện lợi, vì sẽ...
                    </p>
                    <a href="#" class="read-more_tt">Đọc Thêm <span>→</span></a>
                </div>
            </div>
            <div class="news-item_tt">
                <img src="~/img/tintuc2.jpg" alt="Tin tức 2">
                <div class="news-content_tt">
                    <h3>Top 10 mẫu nội thất phòng ngủ thông minh hiện đại 2024</h3>
                    <p>
                        Phòng ngủ là nơi bạn thư giãn sau ngày làm việc căng thẳng, vì vậy việc thiết kế nội thất phòng ngủ
                        thông minh ...
                    </p>
                    <a href="#" class="read-more_tt">Đọc Thêm <span>→</span></a>
                </div>
            </div>
            <div class="news-item_tt">
                <img src="~/img/tintuc3.jpg" alt="Tin tức 3">
                <div class="news-content_tt">
                    <h3>BLACK FRIDAY - Nâng cấp nhà xinh , tâm tình sảng kkhoái </h3>
                    <p>
                        -Giảm giá lên tới 50% toàn bộ sản phẩm <br />
                        -Thời gian: từ ngày 3/1/2025 đến hết ngày 10/1/2025
                    </p>
                    <a href="#" class="read-more_tt">Đọc Thêm <span>→</span></a>
                </div>
            </div>
            <!-- Thêm tin tức khác nếu cần -->
        </div>
    </section>

</body>
